<header class="navbar-container">
    <nav>
        <input type="checkbox" id="nav" class="hidden">
        <label for="nav" class="nav-btn">
            <i></i>
            <i></i>
            <i></i>
        </label>
        <div class="logo">
            <a th:href="@{/home}">WellnessWeb</a>
        </div>
        <div class="nav-wrapper">
            <ul>
                <li><a th:href="@{/home}">Home</a></li>
                <li><a th:href="${session.loggedInUser != null ? '/profile' : '/signup'}" th:text="${session.loggedInUser != null ? 'Profile' : 'Sign Up'}"></a></li>
                <li><a th:href="@{/home}">About</a></li>
                <li><a th:href="@{/therapists}">Connect to a Therapist</a></li>
            </ul>
        </div>
    </nav>
</header>