<nav class="sidenav navbar navbar-vertical fixed-left navbar-expand-xs navbar-light bg-white loopple-fixed-start"
        id="sidenav-main">
        <div class="navbar-inner">
            <div class="collapse navbar-collapse" id="sidenav-collapse-main">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/therapistdashboard}">
                            <span class="nav-link-text">Dashboard</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/therapistdashboard/viewsessions}">
                            <span class="nav-link-text">Sessions</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/therapistdashboard}">
                            <span class="nav-link-text">Blogs</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/therapistdashboard/editaccount}">
                            <span class="nav-link-text">Account Settings</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@{/home}">
                            <span class="nav-link-text">Logout</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/home}">
                            <span class="nav-link-text">Return to Homepage</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>