
.slide-container{
    background-color: #fff;
    padding:5%;
}
.slide-content{
    margin: 0 40px;
}
.card{
    width:320px;
    border-radius:25px;
    background-color:hsl(27, 36%, 95%);
    flex: 1 0 calc(25.33% - 20px);  
    margin-bottom: 20px; 
}
.image-content,.card-content{
    display:flex;
    flex-direction:column;
    align-items:center;
    padding:10px 14px;
    max-width: 100%;
}
.image-content{
    position:relative;
    row-gap:5px;
}
.overlay{
    position:absolute;
    height:100%;
    top:0;
    left:0;
    width:100%;
    background-color:#3a493b;
    border-radius:25px 25px 0 25px;
}
.card-wrapper{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display:flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: space-between; 
}
.card{
    min-width: 300px;
}
.card-image{
    position:relative;
    height:150px;
    width:150px;
    border-radius:50%;
    background-color:#e5e5e5;
    padding:1.5px;
}
.card-image .card-img{
    height:100%;
    width:100%;
    object-fit:cover;
    border-radius:50%;
    border:4px solid #3a493b;
}
.name{
    letter-spacing: 1.5px;
    font-size: 30px;
    font-weight: 500;
    color:#716002;
    margin-bottom: -1px;
}
.description{
    font-size:16px;
    font-weight: 450;
    opacity: 60%;
    color:black;
    text-align:center;
}
.button{
    border:none;
    font-size:16px;
    color:#FFF;
    padding:8px 16px;
    background-color: #3a493b;
    border-radius:6px;
    margin:14px;
    cursor:pointer;
    transition: all 0.3s ease;
}
.button:hover{
    background:#667e67;
}