<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Profile Dashboard</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700">
    <link rel="stylesheet"
        href="https://rawcdn.githack.com/Loopple/loopple-public-assets/ad60f16c8a16d1dcad75e176c00d7f9e69320cd4/argon-dashboard/css/nucleo/css/nucleo.css">
        <link rel="stylesheet" type="text/css" th:href="@{/CSS/login.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/CSS/admindashboard.css}">
</head>

<body>
    <div th:replace="~{partials/adminDashSideBar}"></div>
    <div class="main-content" id="panel">
        <div th:replace="~{partials/adminDashNavBar}"></div>
        <div class="container-fluid pt-3">
            <div class="row removable">
                <div class="col-lg">
                <form th:action="@{/admindashboard/addadmin}" method="post" autocomplete="off" th:object="${admin}" class="user-form"
                onsubmit="return validateForm()">
                <h1>Add an Admin</h1>
                <input id="name" type="text" placeholder="Name" th:field="*{Name}" />
                <span id="name-error" class="error-message"></span>
                <input id="phonenum" type="text" placeholder="Phone Number" th:field="*{phoneNumber}" />
                <span id="phonenum-error" class="error-message"></span>
                <input id="email" type="text" placeholder="Email" th:field="*{email}" />
                <span id="email-error" class="error-message"></span>
                <input id="password" type="password" placeholder="Password" th:field="*{Password}" />
                <span id="password-error" class="error-message"></span>
                <button class="btn btn-add-form" type="submit">Add Admin</button>
            </form>
        </div>
        </div>
    </div>
</div>
    <script th:src="@{/js/addAdminValidation.js}"></script>
</body>

</html>