<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Add a Blog</title>

    <link rel="stylesheet" type="text/css" th:href="@{/CSS/home.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/CSS/blogs.css}" />
</head>
<body>
<form method="post" action="/save">
    <h2>What is the title?</h2>
    <input type="text" name="content-title" />

    <h2>What topic is your blog related to?</h2>
    <select name="topic">
        <option value="">Select an illness</option>
        <option th:each="illness : ${illnesses}" th:value="${illness.name}" th:text="${illness.name}"></option>
    </select>

    <h2>Are there any trigger warnings to be considered?</h2>
    <input type="text" name="content-tw">

    <h2>Write the content below:</h2>
    <textarea id="richtext" name="content" style="width: 900px; height: 500px;" rows="6" cols="40"></textarea>
    <button type="submit">Save</button>
    
</form>
</body>
</html>
