<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>WellnessWeb</title>
    <link rel="shortcut icon"
    th:href="@{https://res.cloudinary.com/abdel-rahman-ali/image/upload/v1535988515/rosa-favicon.png}">
    <link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css}">

    <!--Fonts-->
    <link th:href="@{https://fonts.googleapis.com/css?family=Cabin|Herr+Von+Muellerhoff|Source+Sans+Pro}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" th:href="@{/CSS/home.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/CSS/blogs.css}">
</head>


<body>
    <!-- navigation bar -->
    <div th:replace="~{/partials/navbar}"></div>
<header>
    <div class="topic-problem">Bipolar disorder</div>
	<div class="blogs-container">
		<h1 class="blog-title">Dealing With Depressive and Manic Episodes</h1>
		
	</div>
</header>
<main>
	<article class="blogs-container">
		<p class="blogs-content">
			
Bipolar disorder is a complex mental health condition characterized by extreme mood swings that include emotional highs (mania or hypomania) and lows (depression). 
These mood episodes can vary in intensity and duration, often causing significant disruptions in daily life, relationships, and functioning. Individuals with bipolar 
disorder may experience periods of heightened energy, euphoria,
 and impulsivity during manic episodes, followed by profound sadness, hopelessness, and lethargy during depressive episodes.
		</p>

        <p class="publish-details">
			<small>By <em>Author Name</em> ,
				<em> 02/02/2020</em></small>
		</p>


        <div class="content-img-container">
            <img th:src="@{/images/bipolar.jpeg}" alt="Your Image" class="image">
          </div>





		<h2 class="blog-topics-title">The First Topic</h2>
		<p class="blogs-content">
			Liquorice candy macaroon soufflé jelly cake. Macaroon pie sesame snaps
			jelly-o.
			Liquorice candy macaroon soufflé jelly cake. Candy canes ice. Macaroon
			pie sesame snaps jelly-o.Liquorice candy macaroon soufflé jelly cake. Macaroon pie sesame snaps
			jelly-o.
			Liquorice candy macaroon soufflé jelly cake. Candy canes ice. Macaroon
			pie sesame snaps jelly-o.
		</p>

		<h2 class = "blog-topics-title">Another topic to be discussed</h3>
		<p class="blogs-content">
			Candy canes ice cream biscuit marzipan. Macaroon pie sesame snaps
			jelly-o.
			Liquorice candy macaroon soufflé jelly cake. Macaroon pie sesame snaps
			jelly-o.
		</p>
		<blockquote>
			<p>"A quote said by someone that relates to the topic."</p>
			<footer>- <cite>Author of Quote</cite></footer>
		</blockquote>
	</article>
    
</main>
<div th:replace="~{partials/footer}"></div>

</body>