<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>WellnessWeb</title>
    <link rel="shortcut icon"
    th:href="@{https://res.cloudinary.com/abdel-rahman-ali/image/upload/v1535988515/rosa-favicon.png}">
    <link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css}">

    <!--Fonts-->
    <link th:href="@{https://fonts.googleapis.com/css?family=Cabin|Herr+Von+Muellerhoff|Source+Sans+Pro}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" th:href="@{/CSS/home.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/CSS/blogs.css}">
</head>


<body>
    <!-- navigation bar -->
    <div th:replace="~{/partials/navbar}"></div>
<header>
    <div class="topic-problem" th:text="${contentObj.illnessName}"></div>
	<div class="blogs-container">
		<h1 class="blog-title" th:text="${contentObj.titleofArticle}"></h1>
		
	</div>
</header>
<main>
	<article class="blogs-container">
		<p class="blogs-content" th:text="${contentObj.introofArticle}">
			</p>

        <p class="publish-details">
			<small>By <em th:text="${authorName}"></em> ,
				<em th:text="${contentObj.date}"> </em></small>
		</p>


		<div class="content-img-container" th:if="${not #strings.isEmpty(base64Image)}">
			<img th:src="'data:image/jpeg;base64,' + ${base64Image}" alt="illness Image" class="image">
		</div>
		



		<p class="blogs-content" th:text="${contentObj.contentofArticle}">
		</p>

		<div th:if="${contentObj.subtopicList != null}">
			<!-- Loop through each subtopic -->
			<div th:each="subtopic : ${contentObj.subtopicList}">
				<h2 class = "blog-topics-title" th:text="${subtopic.subtopicTitle}"></h2>
				<p class="blogs-content" th:text="${subtopic.subtopicContent}"></p>
			</div>
		</div>


		<blockquote>
			<p th:text="${contentObj.quote}"></p>
			<footer>- <cite th:text="${contentObj.authorOfQuote}"></cite></footer>
		</blockquote>
	</article>
    
</main>
<div th:replace="~{partials/footer}"></div>

</body>