<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>WellnessWeb</title>
    <link rel="shortcut icon"
    th:href="@{https://res.cloudinary.com/abdel-rahman-ali/image/upload/v1535988515/rosa-favicon.png}">
    <link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css}">

    <!--Fonts-->
    <link th:href="@{https://fonts.googleapis.com/css?family=Cabin|Herr+Von+Muellerhoff|Source+Sans+Pro}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" th:href="@{/CSS/home.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/CSS/login.css}">
</head>


<body>
    <!-- navigation bar -->
    <div th:replace="~{/partials/navbar}"></div>
    <div class="login-page">

        <h1 class="title">Sign Up</h1>
        <div class="form">
            <form th:action="@{/signup}" method="post" autocomplete="off" th:object="${customer}" class="signup-form" onsubmit="return validateForm()">
                <input id="name" type="text" placeholder="Name" th:field="*{Name}"/>
                <span id="name-error" class="error-message"></span>
                <select th:field="*{Gender}" >
                    <option value="">Gender</option>
                    <option value="female">Female</option>
                    <option value="male">Male</option>
                </select>
                <input id="age" type="number" placeholder="Age" th:field="*{Age}"/>
                <span id="age-error" class="error-message"></span>
                <input id="phonenum" type="text" placeholder="Phone Number" th:field="*{PhoneNumber}"/>
                <span id="phonenum-error" class="error-message"></span>
                <input id="email" type="text" placeholder="Email" th:field="*{Email}"/>
                <span id="email-error" class="error-message"></span>
                <input id="username" type="text" placeholder="Username (use a nickname to be anonymous)" th:field="*{Username}"/>
                <span id="username-error" class="error-message"></span>
                <input id="password" type="password" placeholder="Password" th:field="*{Password}"/>
                <span id="password-error" class="error-message"></span>
                <input value="Sign Up" type="submit" class="login-btn">
                <p class="message">Already registered? <a th:href="@{/login}">Log in</a></p>
            </form>
        </div>
    </div>
   <!-- footer -->
   <div th:replace="~{partials/footer}"></div>

    <!-- js -->
    <script th:src="@{/js/loginValidation.js}"></script>
</body>

</html>