<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Profile Dashboard</title>
    <link rel="shortcut icon"
    th:href="@{https://res.cloudinary.com/abdel-rahman-ali/image/upload/v1535988515/rosa-favicon.png}">
    <link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css}">

    <!--Fonts-->
    <link th:href="@{https://fonts.googleapis.com/css?family=Cabin|Herr+Von+Muellerhoff|Source+Sans+Pro}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" th:href="@{/CSS/userprofile.css}">

</head>

<body>
    <!-- navbar start -->
    <nav class="sidenav navbar navbar-vertical fixed-left navbar-expand-xs navbar-light bg-white loopple-fixed-start"
        id="sidenav-main">
        <div class="navbar-inner">
            <div class="collapse navbar-collapse" id="sidenav-collapse-main">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/profile}">
                            <span class="nav-link-text">Dashboard</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/editprofile}">
                            <span class="nav-link-text">Booked Sessions</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/editprofile}">
                            <span class="nav-link-text">Blogs</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/editprofile}">
                            <span class="nav-link-text">Account Settings</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/home}">
                            <span class="nav-link-text">Logout</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/home}">
                            <span class="nav-link-text">Return to Homepage</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="main-content" id="panel">
        <nav class="navbar navbar-top navbar-expand navbar-dark border-bottom bg-warning" id="navbarTop">
            <div class="container-fluid">
                <div class="collapse navbar-collapse" id="navbarSupportedContent">

                    <ul class="navbar-nav align-items-center  ml-md-auto ">
                        <li class="nav-item d-xl-none">
                            <div class="pr-3 sidenav-toggler sidenav-toggler-dark active" data-action="sidenav-pin"
                                data-target="#sidenav-main">
                                <div class="sidenav-toggler-inner">
                                    <i class="sidenav-toggler-line"></i>
                                    <i class="sidenav-toggler-line"></i>
                                    <i class="sidenav-toggler-line"></i>
                                </div>
                            </div>
                        </li>
                        <li class="nav-item d-sm-none">

                        </li>

                    </ul>
                    <ul class="navbar-nav align-items-center  ml-auto ml-md-0 ">
                        <li class="nav-item dropdown">
                            <a class="nav-link pr-0" href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false">
                                <div class="media align-items-center">
                                    <span class="avatar avatar-sm rounded-circle">
                                        <img alt="Image placeholder" th:src="@{/Images/pfp.webp}">
                                    </span>
                                    <div class="media-body  ml-2  d-none d-lg-block">
                                        <span class="mb-0 text-sm  font-weight-bold">
                                            Lana
                                        </span>
                                    </div>
                                </div>
                            </a>
                            <div class="dropdown-menu  dropdown-menu-right ">
                                <div class="dropdown-header noti-title">
                                    <h6 class="text-overflow m-0">Welcome orchidLover
                                    </h6>
                                </div>
                                <a th:href="@{/profile}" class="dropdown-item">

                                    <span>My profile</span>
                                </a>
                                <div class="dropdown-divider"></div>
                                <a th:href="@{/home}" class="dropdown-item">
                                    <i class="fa fa-sign-out-alt"></i>
                                    <span>Logout</span>
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="container-fluid pt-3">
            <div class="row removable">
                <div class="col-lg-4">
                    <div class="card card-profile">
                        <div class="row justify-content-center">
                            <div class="col-lg-3 order-lg-2">
                                <div class="card-profile-image">
                                    <a href="#">
                                        <img th:src="@{/Images/pfp.webp}" class="rounded-circle">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4">
                            <div class="d-flex justify-content-between">
                                <a th:href="@{/editprofile}" class="btn btn-sm mr-4 btn-default">Edit</a>
                            </div>
                        </div>
                        <div class="card-body pt-0">
                            <div class="row">
                                <div class="col">
                                    <div class="card-profile-stats d-flex justify-content-center">
                                        <div>
                                            <span class="heading">
                                                OrchidLover
                                            </span>
                                            <span class="description"></span>
                                        </div>
                                        <!-- <div>

                                            <span class="heading">0</span>
                                            <span class="description">Cart</span>
                                        </div>
                                        <div>
                                            <span class="heading">
                                                3
                                            </span>
                                            <span class="description">wishlist</span>
                                        </div> -->
                                    </div>
                                </div>
                            </div>
                            <!-- <div class="text-center">
                                <h5 class="h3">
                                    Lana Hamed<span class="font-weight-light">
                                </h5>
                            </div> -->
                            <div class="text-center">
                                <h5 class="h3">
                                    lanahamed@gmail.com<span class="font-weight-light">
                                </h5>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-8">
                    <h1>Recent Sessions</h1>
                    <div class="card">
                        <div class="card-header bg-transparent">
                            <h6 class="text-uppercase text-muted ls-1 mb-1"></h6>
                            <h5 class="h3 mb-0">Session #1
                            </h5>
                            <div class="text-uppercase">Dr.Anwar Abdallah

                                <div class="blue-label ms-auto text-uppercase">23-01-2024</div>
                            </div>
                            <div class="fs-8">Duration: 2 hours
                            </div>
                            
                            <div class="d-sm-flex align-items-sm-start justify-content-sm-between">

                                <div class="status">Status : Attended
                                </div>
                                <br>
                            </div>
                            <a  th:href="@{/profile}">
                                <button class="btn btn-primary text-uppercase">Session
                                    info
                                </button></a>


                        </div>

                    </div>

                    <div class="card-body">

                    </div>

                </div>
            </div>
        </div>


        <script
            src="https://rawcdn.githack.com/Loopple/loopple-public-assets/5cef8f62939eeb089fa26d4c53a49198de421e3d/argon-dashboard/js/vendor/jquery.min.js"></script>
        <script
            src="https://rawcdn.githack.com/Loopple/loopple-public-assets/5cef8f62939eeb089fa26d4c53a49198de421e3d/argon-dashboard/js/vendor/bootstrap.bundle.min.js"></script>
        <script
            src="https://rawcdn.githack.com/Loopple/loopple-public-assets/5cef8f62939eeb089fa26d4c53a49198de421e3d/argon-dashboard/js/vendor/js.cookie.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"></script>
        <script
            src="https://rawcdn.githack.com/Loopple/loopple-public-assets/5cef8f62939eeb089fa26d4c53a49198de421e3d/argon-dashboard/js/vendor/chart.extension.js"></script>
        <script
            src="https://rawcdn.githack.com/Loopple/loopple-public-assets/7bb803d2af2ab6d71d429b0cb459c24a4cd0fbb4/argon-dashboard/js/argon.min.js"></script>
</body>