<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>WellnessWeb</title>
    <link rel="shortcut icon"
        th:href="@{https://res.cloudinary.com/abdel-rahman-ali/image/upload/v1535988515/rosa-favicon.png}">
    <link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css}">

    <!--Fonts-->
    <link th:href="@{https://fonts.googleapis.com/css?family=Cabin|Herr+Von+Muellerhoff|Source+Sans+Pro}"
        rel="stylesheet">
    <link rel="stylesheet" type="text/css" th:href="@{/CSS/home.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/CSS/viewtherapists.css}">
</head>


<body>
    <!-- navigation bar -->
    <div th:replace="~{/partials/navbar}"></div>

    <div class="main-content-container">
        <section class="intro-body">
            <h1>Your Guide into <br>Mentall<span class="about-us-txt"> Wellness</span></h1>
            <p>Embark on a journey toward improved mental health and overall wellness with our trusted guide. At
                <i>WellnessWeb</i>, we are committed to being your companion on the path to well-being.
            </p>
            <button class="btn btn-join" href="#">Join us</button>
        </section>
        <div class="slide-container">
            <div class="slide-content">
                <div class="card-wrapper"> 
                    <div th:each="therapist : ${therapists}">
                        <div class="card">
                            <div class="image-content">
                                <span class="overlay"></span>
                                <div class="card-image">
                                    <img th:src="@{'/Images/' + ${therapist.Image}}" alt="therapist picture"
                                        class="card-image">
                                </div>
                            </div>

                            <div class="card-content">
                                <h2 class="name" th:text="${'Name: ' + therapist.Name}"></h2>
                                <p class="age" th:text="${'Age: ' + therapist.Age}"></p>
                                <p class="specialization" th:text="${'Specialization: ' + therapist.Specialization}">
                                </p>
                                <p class="email" th:text="${'Email: ' + therapist.Email}"></p>
                            </div>
                            <div class="action-buttons">
                                <form th:action="@{/therapist/booktherapysession}" method="get">
                                    <input type="hidden" name="therapistId" th:value="${therapist.ID}">
                                    <button type="submit" class="btn btn-sm btn-success custom-btn">View
                                        Details</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- footer -->
    <div th:replace="~{partials/footer}"></div>
</body>

</html>