<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Profile Dashboard</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700">
    <link rel="stylesheet"
        href="https://rawcdn.githack.com/Loopple/loopple-public-assets/ad60f16c8a16d1dcad75e176c00d7f9e69320cd4/argon-dashboard/css/nucleo/css/nucleo.css">
    <link rel="stylesheet" type="text/css" th:href="@{/CSS/admindashboard.css}">
</head>

<body>
    <div th:replace="~{partials/adminDashSideBar}"></div>
    <div class="main-content" id="panel">
        <div th:replace="~{partials/adminDashNavBar}"></div>
        <div class="container-fluid pt-3">
            <div class="row removable">
                <div class="col-lg">
                    <div class="card">
                        <div class="card-header border-0">
                            <div class="row align-items-center">
                                <div class="col">
                                    <h3 class="mb-0">Therapist Requests</h3>
                                </div>
                                <div class="col text-right">
                                    <input id="searchBar" onkeyup="myFunction()" class="table-search-bar"
                                    placeholder="Search for a Therapist" />                                
                                </div>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table id="adminDashTable" class="table align-items-center table-flush">
                                <thead class="thead-light">
                                    <tr>
                                        <th scope="col">Name</th>
                                        <th scope="col">Age</th>
                                        <th scope="col">Gender</th>
                                        <th scope="col">Phone Number</th>
                                        <th scope="col">Specialization</th>
                                        <th scope="col">Education</th>
                                        <th scope="col">Experience</th>
                                        <th scope="col">Languages</th>
                                        <th scope="col">Email</th>
                                        <th scope="col">Resume</th>
                                        <th scope="col">Image</th>
                                        <th scope="col">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="request : ${requests}">
                                        <td th:text="${request.name}"></td>
                                        <td th:text="${request.age}"></td>
                                        <td th:text="${request.gender}"></td>
                                        <td th:text="${request.phoneNumber}"></td>
                                        <td th:text="${request.specialization}"></td>
                                        <td th:text="${request.education}"></td>
                                        <td th:text="${request.experience}"></td>
                                        <td th:text="${request.languages}"></td>
                                        <td th:text="${request.email}"></td>
                                        <td>
                                            <a th:href="@{'/admindashboard/downloadResume/' + ${request.phoneNumber}}"
                                                th:text="${request.Resume}"></a>
                                        </td>
                                        <td>
                                            <a th:href="@{'/admindashboard/downloadImage/' + ${request.phoneNumber}}"
                                                th:text="${request.Image}"></a>
                                        </td>
                                        <td>
                                            <div class="action-buttons">
                                                <form th:action="@{/admindashboard/therapistsrequests/acceptRequest}"
                                                    method="post">
                                                    <input type="hidden" name="id" th:value="${request.ID}">
                                                    <button type="submit"
                                                        class="btn btn-sm btn-success custom-btn">Accept</button>
                                                </form>
                                                <form th:action="@{/admindashboard/therapistsrequests/declineRequest}"
                                                    method="post">
                                                    <input type="hidden" name="id" th:value="${request.ID}">
                                                    <button type="submit" class="btn btn-sm btn-danger">Decline</button>
                                                </form>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script th:src="@{/js/adminDash.js}"></script>

</body>

</html>