<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>Profile Dashboard</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" />
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" />
    <link rel="stylesheet"
        href="https://rawcdn.githack.com/Loopple/loopple-public-assets/ad60f16c8a16d1dcad75e176c00d7f9e69320cd4/argon-dashboard/css/nucleo/css/nucleo.css" />
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/CSS/admindashboard.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/CSS/modal.css}" />
</head>

<body>
    <div th:replace="~{partials/adminDashSideBar}"></div>
    <div class="main-content" id="panel">
        <div th:replace="~{partials/adminDashNavBar}"></div>
        <div class="container-fluid pt-3">
            <div class="row removable">
                <div class="col-lg">
                    <div class="card">
                        <div class="card-header border-0">
                            <div class="row align-items-center">
                                <div class="col">
                                    <h3 class="mb-0">Customers</h3>
                                </div>
                                <div class="col text-right">
                                    <input id="searchBar" onkeyup="myFunction()" class="table-search-bar"
                                        placeholder="Search for a Customer" />
                                </div>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table id="adminDashTable" class="table align-items-center table-flush">
                                <thead class="thead-light">
                                    <tr>
                                        <th scope="col">ID</th>
                                        <th scope="col">Name</th>
                                        <th scope="col">Username</th>
                                        <th scope="col">Age</th>
                                        <th scope="col">Gender</th>
                                        <th scope="col">Email</th>
                                        <th scope="col">Phone Number</th>
                                        <th scope="col">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="customer : ${customers}">
                                        <td th:text="${customer.ID}"></td>
                                        <td th:text="${customer.Name}"></td>
                                        <td th:text="${customer.username}"></td>
                                        <td th:text="${customer.Age}"></td>
                                        <td th:text="${customer.Gender}"></td>
                                        <td th:text="${customer.email}"></td>
                                        <td th:text="${customer.phoneNumber}"></td>
                                        <td>
                                          <form th:action="@{/admindashboard/deletecustomer(id=${customer.ID})}"
                                            method="post">
                                            <button type="button" th:data-customer="${customer.ID}"
                                                onclick="showModal(this.getAttribute('data-customer'));"
                                                id="freeze-button"class="btn btn-sm btn-delete">
                                                Delete
                                            </button>
                                            <div th:id="'modal-' + ${customer.ID}" class="modal">
                                                <div class="modal-content">
                                                    <div class="modal-sandbox"></div>
                                                    <div class="modal-box">
                                                        <div class="close-modal" th:data-customer="${customer.ID}"
                                                        onclick="showModal(this.getAttribute('data-customer'));">
                                                            &#10006;
                                                        </div>
                                                        <div class="modal-body">
                                                            <p class="confirmation-text" id="confirmation-text">Are you
                                                                sure you want to delete user "<span th:text="${customer.username}"></span>" ?</p>
                                                            <br />
                                                            <button type="submit" id=" delete-button"
                                                                class="btn btn-sm btn-delete">
                                                                Delete
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                      <td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script th:src="@{/js/adminDash.js}"></script>
</body>

</html>