<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>WellnessWeb</title>
    <link rel="shortcut icon"
        href="https://res.cloudinary.com/abdel-rahman-ali/image/upload/v1535988515/rosa-favicon.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <!--Fonts-->
    <link href="https://fonts.googleapis.com/css?family=Cabin|Herr+Von+Muellerhoff|Source+Sans+Pro" rel="stylesheet">
    <link rel="stylesheet" href="../../public/css/home.css">
    <link rel="stylesheet" href="../../public/css/blogs.css">

</head>


<body>
    <header class="navbar-container">
        <nav>
            <input type="checkbox" id="nav" class="hidden">
            <label for="nav" class="nav-btn">
                <i></i>
                <i></i>
                <i></i>
            </label>
            <div class="logo">
                <a href="#">WellnessWeb</a>
            </div>
            <div class="nav-wrapper">
                <ul>
                    <li><a href="home.html">Home</a></li>
                    <li><a href="#">Sign Up</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="viewtherapists.html">Connect to a Therapist</a></li>
                </ul>
            </div>
        </nav>
    </header>



<header>
    <div class="topic-problem">Bipolar disorder</div>
	<div class="blogs-container">
		<h1 class="blog-title">Dealing With Depressive and Manic Episodes</h1>
		
	</div>
</header>
<main>
	<article class="blogs-container">
		<p class="blogs-content">
			
Bipolar disorder is a complex mental health condition characterized by extreme mood swings that include emotional highs (mania or hypomania) and lows (depression). 
These mood episodes can vary in intensity and duration, often causing significant disruptions in daily life, relationships, and functioning. Individuals with bipolar 
disorder may experience periods of heightened energy, euphoria,
 and impulsivity during manic episodes, followed by profound sadness, hopelessness, and lethargy during depressive episodes.
		</p>

        <p class="publish-details">
			<small>By <em>Author Name</em> ,
				<em> 02/02/2020</em></small>
		</p>


        <div class="content-img-container">
            <img src="../../public/images/bipolar.jpeg" alt="Your Image" class="image">
          </div>





		<h2 class="blog-topics-title">The First Topic</h2>
		<p class="blogs-content">
			Liquorice candy macaroon soufflé jelly cake. Macaroon pie sesame snaps
			jelly-o.
			Liquorice candy macaroon soufflé jelly cake. Candy canes ice. Macaroon
			pie sesame snaps jelly-o.Liquorice candy macaroon soufflé jelly cake. Macaroon pie sesame snaps
			jelly-o.
			Liquorice candy macaroon soufflé jelly cake. Candy canes ice. Macaroon
			pie sesame snaps jelly-o.
		</p>

		<h2 class = "blog-topics-title">Another topic to be discussed</h3>
		<p class="blogs-content">
			Candy canes ice cream biscuit marzipan. Macaroon pie sesame snaps
			jelly-o.
			Liquorice candy macaroon soufflé jelly cake. Macaroon pie sesame snaps
			jelly-o.
		</p>
		<blockquote>
			<p>"A quote said by someone that relates to the topic."</p>
			<footer>- <cite>Author of Quote</cite></footer>
		</blockquote>
	</article>
    
</main>
<footer class="footer">
    <div class="footer__addr">
        <h1 class="footer__logo">WellnessWeb</h1>

        <h2>Contact</h2>

        <address>
            5534 Somewhere In. The World 22193-10212<br>

        </address>
    </div>

    <ul class="footer__nav">
        <li class="nav__item">
            <h2 class="nav__title">Home</h2>

            <ul class="nav__ul">
                <li>
                    <a href="#">Sign up</a>
                </li>

                <li>
                    <a href="#">Blogs</a>
                </li>

            </ul>
        </li>

        <li class="nav__item">
            <h2 class="nav__title">About us</h2>

            <ul class="nav__ul">
                <li>
                    <a href="#">Therapists</a>
                </li>
                <li><a href="">Our Story</a></li>
            </ul>
        </li>

        <li class="nav__item">
            <h2 class="nav__title">Get in Touch</h2>

            <ul class="nav__ul">
                <li>
                    <a href="#">Contact us</a>
                </li>

                <li>
                    <a href="#">Book a therapy session</a>
                </li>

            </ul>
        </li>
    </ul>
    <div class="legal">
        <p>&copy; 2024 WellnessWeb. All rights reserved.</p>

</footer>