<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>WellnessWeb</title>
    <link rel="shortcut icon"
        href="https://res.cloudinary.com/abdel-rahman-ali/image/upload/v1535988515/rosa-favicon.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <!--Fonts-->
    <link href="https://fonts.googleapis.com/css?family=Cabin|Herr+Von+Muellerhoff|Source+Sans+Pro" rel="stylesheet">
    <link rel="stylesheet" href="../../public/css/login.css">
</head>

<body>
    <div class="login-page">
        <h1 class="title">Log in</h1>
        <div class="form">
            <form class="login-form" onsubmit="validateForm()">
                <input id="username" type="text" placeholder="username" />
                <span id="username-error" class="error-message"></span>
                <input id="password" type="password" placeholder="password" />
                <span id="password-error" class="error-message"></span>
                <input value="Login" type="submit" class="login-btn">
                <p class="message">Not registered? <a href="#">Create an account</a></p>
            </form>
        </div>
    </div>
    <script src="../../public/js/login-validation.js"></script>
</body>

</html>