<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>WellnessWeb</title>
    <link rel="shortcut icon"
        href="https://res.cloudinary.com/abdel-rahman-ali/image/upload/v1535988515/rosa-favicon.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <!--Fonts-->
    <link href="https://fonts.googleapis.com/css?family=Cabin|Herr+Von+Muellerhoff|Source+Sans+Pro" rel="stylesheet">
    <!--Fonts-->
    <link rel="stylesheet" href="../../public/css/home.css">
    <link rel="stylesheet" href="../../public/css/login.css">
</head>

<body>
    <header class="navbar-container">
        <nav>
            <input type="checkbox" id="nav" class="hidden">
            <label for="nav" class="nav-btn">
                <i></i>
                <i></i>
                <i></i>
            </label>
            <div class="logo">
                <a href="#">WellnessWeb</a>
            </div>
            <div class="nav-wrapper">
                <ul>
                    <li><a href="home.html">Home</a></li>
                    <li><a href="#">Sign Up</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="viewtherapists.html">Connect to a Therapist</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <div class="login-page">

        <h1 class="title">Sign Up</h1>
        <div class="form">
            <form class="login-form" onsubmit="validateForm()">
                <input id="email" type="text" placeholder="email" />
                <input id="username" type="text" placeholder="username" />
                <span id="username-error" class="error-message"></span>
                <input id="password" type="password" placeholder="password" />
                <span id="password-error" class="error-message"></span>
                <input value="Sign Up" type="submit" class="login-btn">
            </form>
        </div>
    </div>
    <footer class="footer">
        <div class="footer__addr">
            <h1 class="footer__logo">WellnessWeb</h1>

            <h2>Contact</h2>

            <address>
                5534 Somewhere In. The World 22193-10212<br>

            </address>
        </div>

        <ul class="footer__nav">
            <li class="nav__item">
                <h2 class="nav__title">Home</h2>

                <ul class="nav__ul">
                    <li>
                        <a href="#">Sign up</a>
                    </li>

                    <li>
                        <a href="#">Blogs</a>
                    </li>

                </ul>
            </li>

            <li class="nav__item">
                <h2 class="nav__title">About us</h2>

                <ul class="nav__ul">
                    <li>
                        <a href="#">Therapists</a>
                    </li>
                    <li><a href="">Our Story</a></li>
                </ul>
            </li>

            <li class="nav__item">
                <h2 class="nav__title">Get in Touch</h2>

                <ul class="nav__ul">
                    <li>
                        <a href="#">Contact us</a>
                    </li>

                    <li>
                        <a href="#">Book a therapy session</a>
                    </li>

                </ul>
            </li>
        </ul>
        <div class="legal">
            <p>&copy; 2024 WellnessWeb. All rights reserved.</p>

    </footer>

    <!-- js -->
    <script src="../../public/js/home.js"></script>
    <script src="../../public/js/login-validation.js"></script>
</body>

</html>